<div class="row">
    <h3>EVENTS LIST</h3>
    <a ui-sref="addEvent" class="button success">Add Event</a>
</div>

<form>
    <ul>
        <li ng-repeat="event in events">
            <hr>
            <!-- TITLE FIELD -->
            <div class="row">
                <div class="small-12 columns" ng-model="event.eventTitle" >
                    <h4>Title: {{event.eventTitle}}</h4>
                </div>
                <div class="small-12 columns">
                    <a href="" ng-click="showDetails = ! showDetails">view details</a>
                </div>
                <!-- <my-customer info="vojta" ng-show="showDetails">showing details.......</my-customer> -->
                <!-- <my-event ng-show="showDetails" title="{{test.title}}">details...</my-event> -->
                <my-event ng-show="showDetails"
                description="{{event.description}}"
                featured="{{event.featuredFlag}}"
                start="{{event.startDate}}"
                end="{{event.endDate}}"
                category="{{event.category}}"
                created="{{event.createdAt}}"
                updated="{{event.updatedAt}}"
                ></my-event>


                <!-- <my-event></my-event> -->
            </div>
        </li>
    </ul>
</form>
