<div class="row">
    <h3>EVENTS LIST</h3>
    <a ui-sref="addEvent" class="button success">Add Event</a>
</div>

<form>
    <ul>
        <li ng-repeat="event in events">
            <hr>
            <!-- TITLE FIELD -->
            <div class="row">
                <div class="small-12 columns" ng-model="event.eventTitle" >
                    <h4>Title: {{event.eventTitle}}f</h4>
                </div>
                <div class="small-12 columns">
                    <a href="" ng-click="showDetails = ! showDetails">view details</a>
                </div>
                <div ng-show="showDetails">showing details.......</div>
                
                <my-event ng-test="testing 24816"></my-event>
                <div ng-controller="Controller">
                  <my-customer info="vojta"></my-customer>
                </div>
            </div>
        </li>
    </ul>
</form>
