<h1 class="add-title">Add an Event</h1>

<!-- SUCCESS/FAIL MESSAGE FOR ADDING AN EVENT -->
<div data-alert class="alert-box success radius"
ng-repeat="alert in alerts" type="{{alert.type}}">{{alert.message}}
<a ng-click="closeAlert($index)" class="close">&times;</a>
</div>

<form name="addEventForm" ng-submit="addEventForm.$valid && addEvent()">
    <!-- TITLE  -->
    <div class="row">
        <div class="small-12 columns">Title
            <input ng-model="newEvent.eventTitle" required autofocus/>
        </div>
    </div>

    <!-- CATEGORY -->
    <div class="row">
        <div class="small-5 columns">Category
            <input type="text" ng-model="newEvent.category"/>
        </div>
    </div>

    <!-- START - END -->
    <div class="row">
        <div class="small-5 columns">Start Date
            <input type="date" ng-model="newEvent.startDate" required />
        </div>
        <div class="small-6 columns">End Date
            <input type="date" ng-model="newEvent.endDate" required />
        </div>
    </div>

    <!-- DESCRIPTION  -->
    <div class="row">
        <div class="small-12 columns">Description
            <textarea ng-model="newEvent.description"></textarea>
        </div>
    </div>

    <!-- FEATURED -->
    <div class="row">
        <div class="small-4 columns">
            <input type="checkbox" ng-model="newEvent.featuredFlag"> Featured
        </div>
    </div>

    <!-- SUBMIT BUTTON -->
    <!-- {{addEventForm.$valid}} -->
    <div class="row">
        <div class="small-2 columns">
            <input
            type="submit" id="submit" class="button" ng-disabled="buttonDisabled" ng-init="buttonValue = 'Add Event'" value="{{buttonValue}}">
        </input>
    </div>
</div>
</form>
