<div class="row">
    <h1 class="list-title center-title">EVENTS LIST</h1>
</div>

<form>
    <ul>
        <li ng-repeat="event in events">
            <hr>
            <!-- TITLE FIELD -->
            <div class="row">
                <div class="small-12 columns" ng-model="event.eventTitle" >
                    <h4>Title: {{event.eventTitle}}</h4>
                </div>
            </div>
            <!-- EDIT & DELETE BUTTONS -->
            <div class="row">
                <div class="small-2 columns" ng-model="event.$id">
                    <a ui-sref="editEvent({passId: event.$id})" ng-click="getEventId()" class="button tiny">Edit Event</a>
                </div>
                <div class="small-10 columns">
                    <a href="#" ng-click="events.$remove(event)" class="button tiny alert">Delete Event</a>
                </div>
            </div>
            <!-- VIEW DETAILS BUTTON -->
            <div class="row">
                <div class="small-12 columns">
                    <a href="" ng-click="showDetails = ! showDetails">view details</a>
                </div>
            </div>
            <!-- myEvent directive, names match to directive scope, data to $scope.events -->
            <my-event ng-show="showDetails"
            description="{{event.description}}"
            featured="{{event.featuredFlag}}"
            start="{{event.startDate}}"
            end="{{event.endDate}}"
            category="{{event.category}}"
            created="{{event.createdAt}}"
            updated="{{event.updatedAt}}"
            ></my-event>
        </div>
    </li>
</ul>
</form>
